$browser-context: 16;
$baseline: 24;

%horizontal-gridlines {
    background: -webkit-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $baseline + px);
    background: -moz-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $baseline + px);
    background: -o-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $baseline + px);
    background-size: 100% $baseline + px;
}

%vertical-gridlines {
    background: -webkit-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $baseline + px);
    background: -moz-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $baseline + px);
    background: -o-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $baseline + px);
    background-size: $baseline + px 100%;
    background-position: 50% 100%;
}

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

@function baseline-x($multiple: 1, $x: $baseline) {
    @return #{$multiple * $x};
}

@mixin setType($font-size: 16, $line-height: 16) {
    $base: $baseline;

    @if $font-size > $baseline {
        @if $font-size % $baseline == 0 {
            $base: $font-size;
        } @else {
            $offset: $font-size % $baseline;
            $base: ($font-size - $offset) + $baseline;
        }
    }

    font-size: $font-size + px;
    font-size: rem($font-size);
    line-height: $base/$font-size;
    margin: $baseline + px 0;
}

@mixin set-relative-type() {
    h1 {
        @include setType(36);
    }

    h2 {
        @include setType(24);
    }

    h3 {
        @include setType(20);
    }

    h4 {
        @include setType(18);
    }

    h5, h6, p, ul, ol, dl, td, th {
        @include setType(16);
    }

    @media all and (min-width: $breakpoint-one) {
        h1 {
            @include setType(48);
        }

        h2 {
            @include setType(36);
        }

        h3 {
            @include setType(24);
        }

        h4 {
            @include setType(18);
        }

        h5, h6, p, ul, ol, dl, td, th[scope="row"] {
            @include setType(14);
        }
    }

    @media all and (min-width: $breakpoint-two) {
        h1 {
            @include setType(48);
        }

        h2 {
            @include setType(36);
        }

        h3 {
            @include setType(32);
        }

        h4 {
            @include setType(24);
        }

        h5, th {
            @include setType(18);
        }

        h6, p, ul, ol, dl, td, th[scope="row"] {
            @include setType(14);
        }
    }
}

body {
    @extend %horizontal-gridlines;
}

.wrapper {
    @extend %vertical-gridlines;
}
